{
    "debug": false,
    "api_url": "http://<API URL>/api/",
    "oauth_url": "http://<API URL>/oauth/",
    "servicebus_mongo_url": "http://<SERVICEBUS URL>/mongo/",
    "servicebus_elasticsearch_url": "http://<SERVICEBUS URL>/elasticsearch/",

    "client_secret": "<CLIENT SECRET>",
    "client_id": <CLIENT ID>,

    "default_language": "en",

    "project_name": "perluta",
    "software_title": "Perluta",
    "vendor_name": "Pernexus",
    "customer_data": {
        "customer_short_name": "Pernexus",
        "customer_long_name": "Pernexus",
        "customer_url": "http://www.pernexus.org/"
    },

    "notifications": {
        "duration": 5000
    },

    "modules": {
        "hrm": true,
        "objectcenter": true,
        "projects": true,
        "qms": true,
        "itembank": false,

        "perscriptum": false
    }
}
